body {background-image: radial-gradient(circle, #ff7e5f, #feb47b, #8e6cb3);
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    margin: auto;
}

/*Main title of the homepage and the font + homepage*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
#mainp h1 {
    font-family: 'Concert One', sans-serif;
    color: #5a1362;
    text-align: center;
  }

#name p {
    color: rgb(255, 255, 255);
    font-family: 'Concert One', sans-serif;
    text-align: center;
    padding-left: 2cm;
    padding-right: 2cm;
}

#aboutm h2 {
    font-family: 'Concert One', sans-serif ;
    color: #5a1362;
    text-align: center;
}

#aboutm p {
    color: azure;
    font-family: 'Concert One', sans-serif;
    text-align: center;
    padding-left: 2cm;
    padding-right: 2cm;
}

/*nav bar*/
.navbar {
    display: flex;           
    justify-content: center; 
    background-color: #e87532;  
    padding: 10px 0;        
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;      
    text-align: center;
    display: inline-block;    
    font-family: 'Concert One', sans-serif;
    border-radius: 5px;       
}

.navbar a:hover {
    background-color: rgb(243, 137, 95);  
    transform: scale(1.2);                 
}

/*Portfolio section id= works*/ 
#header h1 {
    color: #5a1362;
    text-align: center;
    font-family: 'Concert One', sans-serif;
}

#works h3 {
   color: rgb(176, 55, 11);
   text-align: center;
   font-family: 'Concert One', sans-serif;
}

.pf h2 {
    font-family: 'Concert One', sans-serif;
    color: #fff;
    text-align: center;
}

.pf h3 {
    font-family: 'Concert One', sans-serif;
    color: #fff;
    text-align: center;
}

figcaption {
    font-family: 'Concert One', sans-serif;
    color: #fff;
    text-align: center;
}

/*Bio page*/ 

#facts h2 { 
    color: #5a1362;
    font-family: 'Concert One', sans-serif;
    padding-left: 2cm;
    padding-right: 2cm;
}

#bio h1 { 
    color: #5a1362;
    font-family: 'Concert One', sans-serif;
    text-align: center;
    padding-left: 2cm;
    padding-right: 2cm;
}

#list ul {
    color: rgb(255, 255, 255);
    font-family: 'Concert One', sans-serif;
    padding-left: 2cm;
    padding-right: 2cm;
}

#sait h2 {
    color: rgb(54, 12, 82);
    font-family: 'Concert One', sans-serif;
padding-left: 2cm;
}

#sait p {
    color: rgb(255, 255, 255);
    font-family: 'Concert One', sans-serif;
    padding-left: 2cm;
    padding-right: 2cm;
    text-align: center;
}

/*Contact page*/ 

#contact h1 {
    font-family: 'Concert One', sans-serif;
    color:#5a1362;
    padding-left: 2cm;
    padding-right: 2cm;
}

#email h3 {
    color:#5a1362;
    font-family: 'Concert One', sans-serif;
    padding-left: 2cm;
    padding-right: 2cm;
}

a { 
    color: azure;
    font-family: 'Concert One', sans-serif;
    padding-left: 2cm;
    padding-right: 2cm;
}

#av {
    font-family: 'Concert One', sans-serif;
    color: #ffffff;
    padding-left: 2cm;
    padding-right: 2cm;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    text-align: center;
}


th {
    font-weight: bold; 
    font-family: 'Concert One', sans-serif;
    color: #5a1362;
}

td {
    font-family: 'Concert One', sans-serif;
    color: white;
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

/*footer*/ 

footer {
    background-color: #f17d00; 
    color: #fff; 
    text-align: center; 
    padding: 30px;
    position: relative; 
    width: 100%;
    box-sizing: content-box;
     margin-top: auto;
}

footer p {
    margin: 0; 
    font-family: 'Concert One', sans-serif;
}


#bio, #contact, #works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
/*button*/ 
#btn-alert {
    margin-right: 50px;
    margin-left: 50px;
}
/*loop*/ 
#loop {
    font-weight: bold; 
    font-family: 'Concert One', sans-serif;
    color: #5a1362;
    text-align: center;
}
